/*color values: #080031  //  #ffd696*/
.weather {
  width: 360px;
  border-radius: 7px;
  border: 2px solid #ffd7969b;
  background-color: #5f2750df;
  color: #ffd696;
  box-shadow: 6px -2px 20px 1px #dd93769a;
  margin: 20px auto 0 auto; /*top right bottom left*/
  padding: 0 20px 20px 20px;
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city {
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}
.description {
  font-weight: 400;
  font-size: 21px;
  line-height: 1;
  margin: 0;
}
.icon {
  width: 110px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -3.5px;
  margin: 10px 0;
}
.details {
  width: 100%;
  padding-left: 30px;
}
.parameterRow {
  display: flex;
  justify-content: space-between;
}
.parameterLabel {
  text-align: left;
  font-weight: 400;
  font-size: 21px;
}
.parameterValue{
  text-align: right;
  font-weight: 600;
  font-size: 21px;
}

.parameterLabelDetails{
  font-size: 21px;
  font-weight: 600;
}
